<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .grow {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  height: 49px;
  width: 100%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}
.grow:hover {
  height: 1000px;
}
    </style>
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<body>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'book:recommend_book' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'book:about' %}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="card-group align-self-center justify-content-center" style="margin:20px">
        {%for book in book_list %}
            
            <div class="align-item-center ">
            <div class="card align-self-center text-center card border-dark mb-3 " style="width: 18rem;margin:20px">
                <img src="{{book.image_url}}" class="card-img-top rounded img-fluid" alt="...">
                <div class="card-body justify-content-center">
                  <p class="card-text"><strong>{{book.title}}</strong></p>
                  <p class="card-text"> <strong> Authors : </strong>{{book.book_authors}}</p>
                  <p class="card-text"> <strong> Genres : </strong>{{book.genres}}</p>
                  <div class="grow" style="background-color: #9fd6fd;">
                    <h2>Decsription</h2> 
                    <p>{{book.desc}}</p>
                  </div>
                  
                </div>
              </div>
            </div>
            
    {% endfor %}
    
    </div>

 

</body>
</html>